BODY {
	BACKGROUND: url(../styleImages/backgrounds/pageBg.jpg) #fff repeat-x; MARGIN: 5px
}
#container {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 748px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
#topHeader {
	MARGIN-BOTTOM: 0px; PADDING-TOP: 0px
}
#topNav {
	MARGIN-BOTTOM: 10px
}
#headNav {
	PADDING-LEFT: 5px; BACKGROUND: #0c70dd; MARGIN-BOTTOM: 1px; MARGIN-LEFT: 1px; MARGIN-RIGHT: 1px; PADDING-TOP: 2px; HEIGHT: 48px
}
.boxTitleLeft {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 75%; BACKGROUND: url(../styleImages/backgrounds/boxTitleBg.jpg) #fff no-repeat; BORDER-LEFT: #cccccc 1px solid; WIDTH: 177px; COLOR: #0c6ed5; TEXT-INDENT: 20px; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 21px; FONT-VARIANT: small-caps
}
.boxTitleRight {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 75%; BACKGROUND: url(../styleImages/backgrounds/boxTitleBg.jpg) #fff no-repeat; BORDER-LEFT: #cccccc 1px solid; WIDTH: 177px; COLOR: #0c6ed5; TEXT-INDENT: 20px; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 21px; FONT-VARIANT: small-caps
}
.boxContentLeft {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-LEFT: 5px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 172px; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff
}
.boxContentRight {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-LEFT: 5px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 172px; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff
}
.colLeft {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; LEFT: 0px; FLOAT: left; WIDTH: 180px; POSITION: relative
}
.colMid {
	FLOAT: left; WIDTH: 559px; POSITION: relative
}
.colMid1 {
	BORDER-RIGHT: #cccccc 1px solid; FLOAT: left; BORDER-LEFT: #cccccc 1px solid; WIDTH: 559px; BORDER-BOTTOM: #cccccc 1px solid; POSITION: relative
}
.colRight {
	PADDING-LEFT: 5px; RIGHT: 9px; FLOAT: right; WIDTH: 160px; POSITION: relative
}
.boxContent {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 75%; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 3px; COLOR: #333333; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.siteDocs {
	PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 2px solid; MARGIN-TOP: 10px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.pagination {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
#subCats {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px; WIDTH: 544px; PADDING-TOP: 3px; BORDER-BOTTOM: #0c6ed5 4px solid; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.subCat {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 8px; WIDTH: 240px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.subCatoriginal {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 8px; WIDTH: 110px; PADDING-TOP: 8px; HEIGHT: 50px; TEXT-ALIGN: center
}
.regSep {
	PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 10px 0px; PADDING-TOP: 10px; BORDER-BOTTOM: #cccccc 1px solid
}
.latestList {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 150px; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 230px; TEXT-ALIGN: center
}
.latestList1 {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 150px; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 210px; TEXT-ALIGN: center
}
.topNava A:link {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 75%; BACKGROUND: #0c70dd; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 100%; COLOR: #ffffff; LINE-HEIGHT: 26px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
.topNava A:visited {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 75%; BACKGROUND: #0c70dd; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 100%; COLOR: #ffffff; LINE-HEIGHT: 26px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
.topNava A:active {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 75%; BACKGROUND: #0c70dd; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 100%; COLOR: #ffffff; LINE-HEIGHT: 26px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
.topNava A:hover {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 100%; COLOR: #ffffff; LINE-HEIGHT: 26px; PADDING-TOP: 0px; BACKGROUND-COLOR: #0a55a9; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
.SCart {
	FONT-SIZE: 75%; COLOR: #fff; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.SCart1 {
	FONT-SIZE: 75%; COLOR: #fff; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.SCartItems {
	
}
.SCartTotal A {
	FONT-WEIGHT: bold; COLOR: #00ff00; TEXT-DECORATION: none
}
.SCartTotal A:hover {
	TEXT-DECORATION: underline
}
.Currency UL LI {
	DISPLAY: inline; FONT-SIZE: 75%; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
.Currency UL LI A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #fff; PADDING-TOP: 5px; FONT-VARIANT: small-caps; TEXT-DECORATION: none
}
.Currency UL LI A:hover {
	COLOR: #fff; FONT-VARIANT: small-caps; TEXT-DECORATION: underline
}
.imageArea {
	HEIGHT: 115px
}
.imageArea1 {
	HEIGHT: 100px
}
.txtNotice {
	COLOR: #000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txtNotice:hover {
	COLOR: #000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.searchBtn {
	BORDER-RIGHT: #fff 1px outset; BORDER-TOP: #fff 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 70%; BORDER-LEFT: #fff 1px outset; WIDTH: 30px; COLOR: #ffffff; BORDER-BOTTOM: #fff 1px outset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; HEIGHT: 20px; BACKGROUND-COLOR: #0c70dd
}
.searchBox {
	BORDER-RIGHT: #fff 1px inset; BORDER-TOP: #fff 1px inset; FONT-SIZE: 70%; BORDER-LEFT: #fff 1px inset; COLOR: #333333; BORDER-BOTTOM: #fff 1px inset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; BACKGROUND-COLOR: #fff
}
.textbox {
	BORDER-RIGHT: #cccccc 1px inset; BORDER-TOP: #fff 1px inset; FONT-SIZE: 11px; BORDER-LEFT: #fff 1px inset; COLOR: #0e51a3; BORDER-BOTTOM: #cccccc 1px inset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fff
}
.textbox1 {
	BORDER-RIGHT: #cccccc 1px inset; BORDER-TOP: #fff 1px inset; FONT-SIZE: 13px; BORDER-LEFT: #fff 1px inset; COLOR: #0e51a3; BORDER-BOTTOM: #cccccc 1px inset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fff
}
.textboxDisabled {
	FONT-SIZE: 11px; COLOR: #000000; BORDER-TOP-STYLE: none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-STYLE: none
}
.submit {
	BORDER-RIGHT: #fff 1px outset; BORDER-TOP: #fff 1px outset; FONT-WEIGHT: bold; BORDER-LEFT: #fff 1px outset; COLOR: #ffffff; BORDER-BOTTOM: #fff 1px outset; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: #0c70dd
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: inside; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI.bullet {
	FONT-SIZE: 70%; COLOR: #0c70dd; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: square
}
LI.bulletLrg {
	FONT-SIZE: 100%; COLOR: #0c70dd; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: square
}
LI.num {
	FONT-SIZE: 70%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
LI.account {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; LIST-STYLE-TYPE: square
}
.txtSession {
	FONT-SIZE: 70%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.txtSession {
	FONT-SIZE: 70%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.txtSession:hover {
	FONT-SIZE: 70%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.txtSessionGrey {
	FONT-SIZE: 75%; TEXT-TRANSFORM: capitalize; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.txtSessionGrey1 {
	FONT-SIZE: 70%; TEXT-TRANSFORM: capitalize; COLOR: #ffffff; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.txtCopy {
	FONT-SIZE: 70%; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.txtSiteDocs {
	FONT-SIZE: 70%; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.txtSiteDocs {
	FONT-SIZE: 70%; COLOR: #031074; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.txtSiteDocs:hover {
	COLOR: #031074; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.txtButton {
	BORDER-RIGHT: #fff 1px outset; PADDING-RIGHT: 2px; BORDER-TOP: #fff 1px outset; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #fff 1px outset; COLOR: #ffffff; LINE-HEIGHT: 20px; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px outset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; BACKGROUND-COLOR: #0c70dd; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.txtButton:hover {
	BORDER-RIGHT: #fff 1px inset; PADDING-RIGHT: 2px; BORDER-TOP: #fff 1px inset; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #fff 1px inset; COLOR: #ffffff; LINE-HEIGHT: 20px; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px inset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; BACKGROUND-COLOR: #00ff00; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.txtButton1:hover {
	BORDER-RIGHT: #fff 1px inset; PADDING-RIGHT: 2px; BORDER-TOP: #fff 1px inset; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #fff 1px inset; COLOR: #ffffff; LINE-HEIGHT: 20px; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px inset; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #0c70dd; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.txtM {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #0c70dd; LINE-HEIGHT: 20px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; TEXT-DECORATION: none
}
.txtM:hover {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #0c70dd; LINE-HEIGHT: 20px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; TEXT-DECORATION: underline
}
.txtN {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; COLOR: #333333; LINE-HEIGHT: 20px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; TEXT-DECORATION: none
}
.txtN1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; COLOR: #333333; LINE-HEIGHT: 16px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; TEXT-DECORATION: none
}
.txtN:hover {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #0c70dd; LINE-HEIGHT: 20px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma
}
.txtOldPrice {
	TEXT-DECORATION: line-through
}
.txtSale {
	COLOR: #ff0000
}
.txtOutOfStock {
	COLOR: #ff0000
}
.txtSiteDocs {
	FONT-SIZE: 70%; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; TEXT-DECORATION: none
}
A.txtSiteDocs {
	FONT-SIZE: 70%; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; TEXT-DECORATION: none
}
A.txtSiteDocs:hover {
	FONT-SIZE: 70%; COLOR: #0c70dd; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; TEXT-DECORATION: none
}
.txtDefault {
	COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.txtDefault {
	COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.txtLink {
	COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.txtLocation {
	COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txtDefault1 {
	COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.txtDefault1 {
	COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.txtLink1 {
	COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.txtLocation1 {
	COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.txtDefault:hover {
	COLOR: #0c70dd; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.txtLink:hover {
	COLOR: #0c70dd; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.txtLocation:hover {
	COLOR: #0c70dd; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txtContentTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: relative
}
.txtBoxSave {
	PADDING-LEFT: 16px; COLOR: #f90707
}
.tblList {
	
}
.tdListTitle {
	FONT-WEIGHT: bold; COLOR: #ffffff; BORDER-BOTTOM: #bfccc7 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; BACKGROUND-COLOR: #0c70dd
}
.tdEven {
	BACKGROUND-COLOR: #ffffff
}
.tdOdd {
	BACKGROUND-COLOR: #ffffff
}
.cartProgress {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: normal; PADDING-BOTTOM: 4px; MARGIN: auto; BORDER-LEFT: #cccccc 1px solid; WIDTH: 350px; COLOR: #666666; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.txtcartProgressCurrent {
	FONT-WEIGHT: bold; COLOR: #0c70dd
}
.quickBuy {
	COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.tdcartTitle {
	FONT-WEIGHT: bold; COLOR: #ffffff; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; BACKGROUND-COLOR: #0c70dd
}
.tdcartTitle1 {
	FONT-WEIGHT: bold; COLOR: #ffffff; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; HEIGHT: 20px; BACKGROUND-COLOR: #0c70dd
}
.tdcartEven {
	BACKGROUND-COLOR: #ffffff
}
.tdcartOdd {
	BACKGROUND-COLOR: #ffffff
}
.tdCartSubTotal {
	BORDER-TOP: #666666 1px solid; PADDING-TOP: 10px
}
A.txtCheckout {
	BORDER-RIGHT: #fff 1px outset; PADDING-RIGHT: 2px; BORDER-TOP: #fff 1px outset; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #fff 1px outset; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px outset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; BACKGROUND-COLOR: #0c70dd; TEXT-DECORATION: none
}
A.txtCheckout:hover {
	BORDER-RIGHT: #fff 1px inset; PADDING-RIGHT: 2px; BORDER-TOP: #fff 1px inset; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #fff 1px inset; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px inset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; BACKGROUND-COLOR: #0c70dd; TEXT-DECORATION: none
}
A.txtUpdate {
	BORDER-RIGHT: #fff 1px outset; PADDING-RIGHT: 2px; BORDER-TOP: #fff 1px outset; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #fff 1px outset; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px outset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; BACKGROUND-COLOR: #0c70dd; TEXT-DECORATION: none
}
A.txtUpdate:hover {
	BORDER-RIGHT: #fff 1px inset; PADDING-RIGHT: 2px; BORDER-TOP: #fff 1px inset; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #fff 1px inset; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px inset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; BACKGROUND-COLOR: #0c70dd; TEXT-DECORATION: none
}
.txtStockWarn {
	FONT-SIZE: 70%; COLOR: #ff0000
}
.txtError {
	BORDER-RIGHT: #ff0000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ff0000 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #ff0000 1px solid; COLOR: #050f72; PADDING-TOP: 2px; BORDER-BOTTOM: #ff0000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffcece
}
.txtCopyright {
	FONT-SIZE: 10px; COLOR: #333333; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
A.txtCopyright {
	FONT-SIZE: 10px; COLOR: #333333; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
A.txtCopyright:hover {
	TEXT-DECORATION: underline
}
.dropDown {
	WIDTH: 120px
}
.prodview {
	BORDER-RIGHT: #cccccc 2px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cccccc 2px solid; PADDING-LEFT: 4px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 4px; MARGIN: 4px; BORDER-LEFT: #cccccc 2px solid; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 2px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.suggest_link {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.suggest_link_over {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; CURSOR: pointer; PADDING-TOP: 2px; BACKGROUND-COLOR: #d2eaf2
}
#search_suggest {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; Z-INDEX: 10000; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; POSITION: relative; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
