﻿$head$

<div id="content">
<!--left-->
$left$

<!--right-->
<div id="right">
	<div class="daohang">当前您的位置:<a href="/" title="返回$cityname$游戏机游艺机首页">首页</a> > 联系我们</div>
	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/intro.$weburlext$">联系我们</a>&nbsp;&nbsp;<span>Contact</span></div>
    </div>
    <div class="intro">$getAbout$
</div> 	
    
</div>
</div>
$foot$

</body>
</html>
