﻿<div id="foot">
<div class="footfenge"></div>
<table width="98%" border="0" cellspacing="0" height="104" cellpadding="0" align="center">
  <tr>
    <td width="30%" align="center"><img src="$skinpath$/images/cxt.gif" /><br /><a href="http://gaylkj688.cn.alibaba.com" target="_blank" class="bold">alibaba.com</a></td>
    <td align="left">
    <p>Copyright：Guang'an City Entertainment Technology Co., Ltd. ICP：<a href="http://www.miibeian.gov.cn">粤ICP备09122969号</a></p>
    <p>Tel：+86-20-39977130 Fax：+86-20-39977130</p>
    <p>Mobile：+86-18924115908</p>
    <p>Address：Yingbin Road, Panyu, Guangzhou, Chin <a href="/admin/login.asp">Manage</a>&nbsp;<script src='http://s55.cnzz.com/stat.php?id=795360&web_id=795360' language='JavaScript' charset='utf-8'></script></p>
    </td>
  </tr>
</table>

</div>