﻿$head$

<div id="content">
<!--left-->
$left$

<!--right-->
<div id="right">
	<div class="daohang">Your current location:<a href="/default.$weburlext$">Home Page</a> > About</div>
	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/eintro.$weburlext$" >About</a>&nbsp;&nbsp;<span>About</span></div>
    </div>
    <div class="intro">$getAbout$
</div> 	
    
</div>
</div>
$foot$

</body>
</html>
