﻿$head$

<div id="content">
<!--left-->
$left$

<!--right-->
<div id="right">
	<div class="daohang">Your current location:<a href="/default.$weburlext$">Home Page</a> > News</div>
	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/enews.asp">News</a>&nbsp;&nbsp;<span>新闻动态</span></div>
    </div>
    <div class="intro">
        <div class="classlist">
        <ul>
       $getnews$
     
        </ul>
        </div>
       $pages$
    </div> 	
    
</div>
</div>
$foot$

</body>
</html>
