﻿$head$

<div id="content">
<!--left-->
$left$

<!--right-->
<div id="right">
	<div class="daohang">Your current location:<a href="/default.$weburlext$">Home Page</a> > <a href="eproducts.asp">Products</a> > Products details</div>
	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord">Products details&nbsp;&nbsp;<span>产品详细</span></div>
    </div>
    <div class="intro">
       <div class="infotitle">$p_name_e$</div>
       <hr />      
       <div class="infoContent">
       	 <p align="center"><a href="$pic$" target="_blank"><img src="$pic$" border="0"></a></p>
         <br />
         <table width="98%" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#cccccc">
          <tr>
            <td width="18%" align="right" height="23"><strong>Name:</strong>&nbsp;</td>
            <td width="82%" >&nbsp;$p_name_e$</td>          
          </tr>
          <tr>
            <td align="right" height="23"><strong>spec:</strong>&nbsp;</td>
            <td>&nbsp;$p_spec_e$</td>
          </tr>
          <tr>
            <td align="right" height="23"><strong>Details：</strong>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
           <tr>
            <td align="left" height="23" colspan="2" style="padding:5px">$p_jianjie_e$</td>           
          </tr>
        </table>
       </div>
       <div class="infofoot"><a href="/eorder.asp?id=$id$"><img src="$skinpath$/images/dg.gif" title="online buy $p_name_e$"/></a>&nbsp;$pre$&nbsp;$next$</div>
    </div> 	
    
</div>
</div>
$foot$

</body>
</html>
