﻿$head$

<div id="content">
<!--left-->
$left$

<!--right-->
<div id="right">
	<div class="daohang">当前您的位置：<a href="/" title="返回$cityname$水果机苹果机供应首页">首页</a> > 公司介绍</div>
	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/intro.$weburlext$" title="广州连线机供应广州轮盘供应公司详细介绍">公司介绍</a>&nbsp;&nbsp;<span>About</span></div>
    </div>
    <div class="intro">$getAbout$
</div> 	
    
</div>
</div>
$foot$

</body>
</html>
