﻿@charset "utf-8";
/* CSS Document */

body{margin:0; padding:0; border:0px none; background:#fff; color:#333333; font-size:12px; font-family:'宋体',arial,'Lucida Grande','Lucida Sans Unicode','新宋体',verdana,sans-serif; line-height:180%;word-break:break-all; text-align:center }
 p{margin:0 }
 select,input {font-size:12px }
 h1 {margin:0; font-size:16px }
 h2 {margin:0; font-size:14px; } 
 h3 {margin:0; font-size:12px }
 dl {font-weight:400; margin:0; padding:0 }
 dt {font-weight:400; margin:0; padding:0 }
 dd {font-weight:400; margin:0; padding:0 }
 ul {margin:0; padding:0; list-style-type:none }
 ol {margin:0; padding:0; list-style-type:none }
 li {margin:0; padding:0 }
 hr {border:#006699 2px solid }
 form {margin:0 }
 input {border:1px solid #cccccc; background:#fff }
 img {border:none }
 .imges {float:left; margin:0 5px; padding:5px; border:#dddddd 1px solid; background:#fff }
 a {color:#006699; text-decoration:none }
 a:hover {color:#ff3300; text-decoration:underline}
 .img {border:#eaeaea 1px solid }
 .blue {color:#0f4bac }
 .red {color:#ff3300 }
 .yellow {color:#ff6600 }
 .green {color:#009900 }
 .gray {color:#666666 }
 .white {color:#ffffff }
 .clear {clear:both }
 .fenge {height:5px; clear:both}
 .fenge8 {height:8px; clear:both}
 .fenge10 {height:10px; clear:both}
 .bold{ font-weight:800}
 
 
 
 /*top*/
 #top { width:1003px; height:220px; background-image:url(../images/top_bg.gif); background-repeat:no-repeat;position:relative; text-align:center}
 
 #top .left{width:241px; height:24px; margin-left:8px; padding:0px 15px 0px 10px; background-image:url(../images/top_left_bg.gif); background-repeat:no-repeat; color:#666666; float:left}
 #top .right{width:299px; height:24px; float:right; margin-right:10px; background-image:url(../images/top_right_bg.gif); background-repeat:no-repeat; padding:0px 0px 0px 5px; color:#666666}
 #top .tophang{height:35px; width:1003px}
 #top .leftbank{width:125px; height:127px; float:left}
 #top .logo{ width:90px; height:127px; background-image:url(../images/logo.gif); background-repeat:no-repeat; float:left}
 #top .rightbank{ width:631px; height:127px; float:left; margin-left:10px}
 #top .lanmu{ width:790px; height:29px; position:absolute; left:202px; bottom:0px}
 #top .lanmu h1{float:left}
 #top .lanmu h1 a{ display:block;line-height:29px;border-left:1px #0c2c73 solid; border-right:1px #0c2c73 solid; color:#FFF; font-weight:800; text-align:center; width:95px; background-image:url(../images/lanmu_bg1.gif); background-repeat:repeat-x; margin:0px; padding:0px}
 #top .lanmu h1 a:hover{ background-image:url(../images/lanmu_bg2.gif); background-repeat:repeat-x; color:#ff3300; text-decoration:none}
 #top .flash {left:50px;position:absolute;top:60px}
 #top .flash2 {left:380px;position:absolute;top:10px}
 
 .tlline{height:3px; width:1003px; background-color:#03359e}
 
 /*left*/
 #content{width:1003px; text-align:center;}
 #left{ width:229px; padding:10px 10px 10px 12px; float:left; text-align:left}
 #left p{ margin-top:2px; margin-bottom:10px}
 .classTitle{ width:100%; height:28px; clear:both; text-align:left}
 .classTitlelogo{ width:23px; height:100%; background-image:url(../images/slogo.gif); background-repeat:no-repeat; float:left} 
 .classTitleWord{ width:80%; height:100%; padding-left:4px; font-family:黑体; font-weight:800; color:#000; border-bottom:2px #879dc5 dotted; font-size:14px; line-height:23px}
 .classTitleWord a{ color:#000}
 .classTitleWord a:hover{ color:#ff3300}
 .classTitleWord span{ color:#cccccc; font-family:Arial, Helvetica, sans-serif} 
 .classlist ul{margin:10px 10px 14px 14px; text-align:left;}
 .classlist li{ line-height:23px}
 .classlist li span{ color:#CCC; margin-left:10px}
 .classlist li a{ color:#333333; margin-left:6px}
 .classlist li a:hover{ color:#ff3300}
 .infotitle{ font-size:16px; font-weight:800; text-align:center; margin:15px auto}
 .infomenu{text-align:right; margin-right:10px}
 .infoContent{ padding:5px}
 .infofoot{text-align:center}
 
 
 /*right*/
 #right{ width:700px; background-image:url(../images/right_bg.gif); background-repeat:repeat-y; padding:2px 18px 0px 16px; float:left; text-align:left}
 #right .intro{ height:630px; width:100%; padding:5px}
 #right .introindex{ height:80px; width:100%; padding:5px; text-align:left}
 #productstuijian li{ width:700px; height:180px; overflow:hidden}
 #productstuijian li img{ width:125px; height:150px}
 #productstuijian li a{ display:block; width:125px; height:175px; text-align:center; border:1px #cccccc solid; float:left; margin:2px 5px; color:#006699}												


 
 .products{width:100%; height:auto}
 .products ul{ padding:5px; width:100%}
 .products ul li{ width:127px; height:180px; text-align:center; border:1px #cccccc solid; float:left; margin:2px 5px}
 .products ul li img{ width:125px; height:150px}
 .products ul li a{display:block; margin:2px 0px}
 
 .productslist{ width:700px; height:580px}
 .productslist ul{ padding:5px}
 .productslist ul li{ width:150px; height:175px; text-align:center; border:1px #cccccc solid; float:left; margin:2px 5px}
 .productslist ul li img{ width:150px; height:150px}
 .productslist ul li a{display:block}
 
 #right .contact{ width:700px; height:260px; margin-top:4px; clear:both; text-align:center; padding-top:20px}
 #right .daohang{ width:95%; border:1px #cccccc solid; line-height:180%; padding-left:10px; margin:10px auto;}
 
 #foot{ width:983px; clear:both; margin:0px 10px 10px 10px; text-align:center}
 #foot .footfenge{height:15px; width:100%; background-image:url(../images/foot_bg.gif); background-repeat:no-repeat}
 .pagelist{float:right; padding-right:50px; clear:both; margin:5px auto; text-align:right}
 
 
 

 

 
 
 
 
 
 
 




 
 
