﻿@charset "utf-8";
/* CSS Document */

body{background:url(../images/pageBg.jpg) #fff repeat-x; border:0px none; font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif;word-break:break-all;MARGIN: 5px; text-align:center }
 p{margin:0 }
 select,input {font-size:12px }
 h1 {margin:0; font-size:16px }
 h2 {margin:0; font-size:14px; } 
 h3 {margin:0; font-size:12px }
 dl {font-weight:400; margin:0; padding:0 }
 dt {font-weight:400; margin:0; padding:0 }
 dd {font-weight:400; margin:0; padding:0 }
 ul{margin:0; padding:0; list-style-type:none;list-style-position:inside
}
 li {margin:0; padding:0 }

 form {margin:0 }
 input {border:1px solid #cccccc; background:#fff }
 img {border:none } 
 a {color:#333333; text-decoration:none }
 a:hover {color:#0c70dd; text-decoration:none} 
 .blue {color:#0f4bac }
 .red {color:#ff3300 }
 .yellow {color:#ff6600 }
 .green {color:#009900 }
 .gray {color:#666666 }
 .white {color:#ffffff }
 .clear {clear:both } 
 .bold{ font-weight:800}
 .del{text-decoration:line-through}
  A.txtButton {
	BORDER-RIGHT: #fff 1px outset; PADDING-RIGHT: 2px; BORDER-TOP: #fff 1px outset; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #fff 1px outset; COLOR: #ffffff; LINE-HEIGHT: 20px; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px outset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; BACKGROUND-COLOR: #0c70dd; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.txtButton:hover {
	BORDER-RIGHT: #fff 1px inset; PADDING-RIGHT: 2px; BORDER-TOP: #fff 1px inset; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #fff 1px inset; COLOR: #ffffff; LINE-HEIGHT: 20px; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px inset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Tahoma; BACKGROUND-COLOR: #00ff00; TEXT-ALIGN: center; TEXT-DECORATION: none
}
 
 
 
 /*top*/
 #top { width:748px; background-color:#FFF; text-align:left}
 
 #top .top_t{width:100%; height:50px; background-color:#0c70dd; padding:1px}
 #top .top_t ul{ height:98%; float:left}
 #top .top_t li{ width:100%; color:#FFF;line-height:150%}
 #top .top_t li a{color:#fff}
 #top .top_t li a:hover{text-decoration:underline}
 #top .top_t ul.w1{width:35%; }
 #top .top_t ul.w2{width:35%; background: url(../images/line.gif) left no-repeat}
 #top .top_t ul.w3{width:20%; background: url(../images/line.gif) left no-repeat}

 #top .banner{ width:98%; height:116px; margin:5px 0px; text-align:center}
 
 #top .lanmu{ width:100%; height:28px; text-align:center}
 #top .lanmu li{ width:16.6%; height:100%; float:left; background-color:#0c70dd}
 #top .lanmu .fenge{width:2px; height:100%; background-color:#FFF; float:left}
 #top .lanmu li a{ display:block; width:96%; height:100%; line-height:28px; color:#FFF}
 #top .lanmu li a:hover{ background-color:#0a55a9}


 /*left*/
 #content{width:748px; height:auto;text-align:left; margin-top:10px }
 #content .content_left{float:left; width:178px}
 #content .content_right{width:560px; float:right}
 
 .colmunTitle{ width:100%; height:27px; background:url(../images/boxTitleBg.jpg) no-repeat; border:1px solid #ccc}
 .colmunTitle span{font-weight:800; color:#0c6ed5; padding-left:18px;line-height:27px}
 .colmunContent{ border:1px solid #ccc; width:100%}
 .colmunContent ul{padding-left:2px}
 .colmunContent ul.square{list-style-type: square; color:#0c70dd}
 .colmunContent ul.decimal{list-style-type:decimal}
 .colmunContetn ul.pic{}
 
 
 .square a{height:22px;  line-height:22px}
 .decimal a{ line-height:22px;break-word: keep-all}
 .decimal li{ border-bottom:1px ridge #d4d0c8}
 .decimal li span{ color:#F00; display:block; text-align:center; margin-bottom:3px}
 .pic li{text-align:center; margin:8px 0px;}

 
 
 .search{ height:30px;  margin-top:10px; padding-left:5px}
 .feature{ text-align:center; margin:3px 0px; line-height:22px;}
 .go{ background-color:#0a55a9; width:18px; color:#FFF; font-weight:800; margin-left:5px}
 
 .blank{ height:10px; clear:both; overflow:hidden}

 .contact{ margin:6px 0px}
 .contactwelcome{ font-weight:800; font-size:110%; color:#333333; font-family:Verdana, Arial, Helvetica, sans-serif; margin:10px 0px 15px 0px}
 .contact .contacttitle{ margin:14px 0px 20px 0px; text-align:center; font-weight:800; color:#000080; font-family:Arial, Helvetica, sans-serif; font-size:120%; line-height:150%}
 .contact .contactcontent{ line-height:120%;font-size:14px;}
 .contact .contactcontent p{ margin:5px 0px}
 
 .products{ margin:10px 0px;}
 
 .productlist{ width:100%}
 .productlist ul{ }
 .productlist ul li{ width:160px; height:229px; border:1px #cccccc solid; text-align:center; padding:5px 2px; float:left; margin:8px}
 
 .productlist .title a{ font-weight:800;}
 .productlist .title a:hover{color:#333333}

 .productlist img{ border:0px; width:75px; height:60px; margin:3px 0px}
 .productlist .buy a{ color:#0c70dd; line-height:120%}
 .productlist .buy a:hover{ color:#0c70dd; text-decoration:underline}
 
 
 .productsort{ margin:20px 0px 20px 0px; text-align:right}
 
 .productlist2{ width:530px}
 .productlist2 ul{}
 .productlist2 ul li{ width:98%; border:2px #cccccc solid; margin:15px 0px}
 .productlist2 img{ width:75px; height:50px; border:0px}

 .productlist2title {width:100%; text-align:center; margin:10px 0px 25px;  font-weight:800;}
 .productlist2title a{color:#333333;}
 
 .productcontent{ width:100%}
 .productcontent dl{ margin-bottom: 15px}
 .productcontent dl.l1{ width:20%; float:left; text-align:center}
 .productcontent dl.l2{ width:50%; float:left; text-align:center}
 .productcontent dl.l3{ width:28%; float:left; text-align:right; margin-right:5px; font-weight:800}
 
 .pdetailtit{ height:365px; text-align:center}
 .pdetailtit img{ border:0px; width:500px; height:500px}
 .moreimgtit { text-align:left; margin:8px 0px 0px 25px}
 .moreimg{ margin:8px 0px 25px; text-align:center}
 .moreimg li{ width:76px; height:71px; float:left; margin:0px 4px}
 .moreimg li img{border:0px; cursor:hand; width:80px; height:80px}
  .moreimg li img:hover{border:1px solid #F00}
 .pdetailcontent{ margin:20px 0px}
 
 .pdetailbuy{ text-align:right; padding-right:10px}
 
 #footer{ width:100%; height:63px; text-align:center; margin-top:10px}
 #footer p{ line-height:150%}
 #footer a{ color:#333333}
 #footer a:hover{color:#0c70dd}
 #footer hr{ margin:2px 0px 10px 0px; color:#cccccc}
 
 .pagelist{float:right; padding-right:50px; clear:both; margin:5px auto; text-align:right}
 
 
 
 
 
 
 




 
 
