$head$

<div id="content">
	$left$
    <div class="content_right">
    
    	<div class="contact">        	
			<div class="contactcontent">
          	$content$
            </div>
        </div>
   </div>     
        
</div>

$foot$
</body>
</html>
