$head$



<div id="content">
	$left$
    <div class="content_right">
    
    	<DIV style="PADDING-BOTTOM: 3px">
<P>Please note that all fields that have an asterisk (*) are required to process 
your registration.</P>
<script language="javascript" src="/js/validator.js"></script>
<FORM name="registerForm" action="reg_save.asp" method="post" onSubmit="return Validator.Validate(this,2);">
<TABLE cellSpacing=0 cellPadding=3 width="100%" border=0>
  <TBODY>
  <TR>
    <TD colSpan=2 height=18>Personal Details</TD>
    <TD colSpan=2 height=18>&nbsp; </TD></TR>
  <TR vAlign=bottom>
    <TD height=26>Title:</TD>
    <TD height=26> <select id="title" name="title" dataType="Require" msg="Title is require">			
			<option value="Mr">Mr</option>
  			<option value="Mrs">Mrs</option>
  			<option value="Miss">Miss</option>
  		</select> </TD>
    <TD height=26>Address:</TD>
    <TD height=26><INPUT class=textbox id=add_1 tabIndex=6 size=16 name=add_1 dataType="Require" msg="Address is require"> 
      *</TD></TR>
  <TR>
    <TD>First Name:</TD>
    <TD><INPUT class=textbox id=firstName tabIndex=2 size=16 name=firstName dataType="Require" msg="First Name is require"> 
    *</TD>
    <TD>&nbsp;</TD>
    <TD><INPUT class=textbox id=add_2 tabIndex=7 size=16 name=add_2></TD></TR>
  <TR>
    <TD>Last Name:</TD>
    <TD><INPUT class=textbox id=lastName tabIndex=3 size=16 name=lastName daytaType="Require" msg="last name is require"> * 
    </TD>
    <TD>Town:</TD>
    <TD><INPUT class=textbox id=town tabIndex=8 size=16 name=town dataType="town" msg="Town is require"> *</TD></TR>
  <TR>
    <TD>Telephone:</TD>
    <TD><INPUT class=textbox id=phone tabIndex=4 size=16 name=phone msg="Telephone is require" dataType="Require"> * </TD>
    <TD>Country:</TD>
    <TD noWrap><INPUT class=textbox id=mobile tabIndex=5 size=16 name=mobile dataType="Require" msg="Country is require"> *</TD></TR>
  <TR>
    <TD>Cell Phone:</TD>
    <TD><INPUT class=textbox id=mobile tabIndex=5 size=16 name=mobile></TD>
    <TD>County or State:</TD>
    <TD><input type="text" /></TD></TR>
  <TR>
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD>Zipcode/Postcode:</TD>
    <TD><INPUT class=textbox id=postcode tabIndex=11 size=16 name=postcode dataType="Require" msg="Zipcode/Postcode is require"> 
    *</TD></TR>
  <TR>
    <TD colSpan=4 height=8>&nbsp;</TD></TR>
  <TR>
    <TD colSpan=3>&nbsp;</TD>
    <TD align=right>
      <input type="submit" value="Submit Continue" />
    </TD></TR></TBODY></TABLE></FORM></DIV>
        
        
	</div>
</div>

$foot$
</html>
