$head$



<div id="content">
	$left$
    <div class="content_right">
    
    	<form action="cart.asp" method="post">
<TABLE cellSpacing=0 cellPadding=3 width="100%" border=0>
  <TBODY>
  <TR>
    <TD colSpan=8>&nbsp;</TD></TR>
  <TR>
    <TD class=tdcartTitle>&nbsp;</TD>
    <TD class=tdcartTitle align=middle>NUM</TD>
    <TD class=tdcartTitle align=middle>&nbsp;</TD>
    <TD class=tdcartTitle>Product</TD>
    <TD class=tdcartTitle align=middle>Code</TD>    
    <TD class=tdcartTitle align=right>Price</TD>
    <TD class=tdcartTitle noWrap align=right width=80>Line Price</TD></TR>
  $list$
  <TR>
    <TD class=tdCartSubTotal align=middle></TD>
    <TD class=tdCartSubTotal colSpan=5></TD>
    <TD class=tdCartSubTotal align=right>Basket Total:</TD>
    <TD class=tdCartSubTotal align=right width=80>$$ttnum$</TD></TR>
  <TR>
    <TD align=left colSpan=5>
    <input type="hidden" name="act" value="update" />
    <input type="submit" value="Update Basket" />(To update new 
    Num)</TD>
    <TD align=right colSpan=2></TD>
    <TD align=right width=80></TD></TR></TBODY></TABLE>
    </FORM>
    <script language="javascript" src="/js/validator.js"></script>
   <form method="post" action="buy.asp" onsubmit="return Validator.Validate(this,2)">
	<input type="hidden" name="ttnum" value="$ttnum$" />
    <TABLE cellSpacing=0 cellPadding=3 width="100%" border=0>
  <TBODY>
  <TR>
    <TD class=tdcartTitle colSpan=2 height=18>Personal Details</TD>
    <TD class=tdcartTitle colSpan=2 height=18>&nbsp; </TD></TR>
  <TR vAlign=bottom>
    <TD height=26>Title:</TD>
    <TD height=26> <select id="title" name="title" class="textbox" dataType="Require" msg="Title is require">
			<option value="">  </option>
			<option value="Mr">Mr</option>
  			<option value="Mrs">Mrs</option>
  			<option value="Miss">Miss</option>
  		</select> </TD>
    <TD height=26>Address:</TD>
    <TD height=26><INPUT class=textbox id=add_1 tabIndex=6 size=16 name=Address dataType="Require" msg="Address is require"> 
      *</TD></TR>
  <TR>
    <TD>First Name:</TD>
    <TD><INPUT class=textbox id=firstName tabIndex=2 size=16 name=firstName dataType="Require" msg="First Name is require"> 
    *</TD>
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD></TR>
  <TR>
    <TD>Last Name:</TD>
    <TD><INPUT class=textbox id=lastName tabIndex=3 size=16 name=lastName daytaType="Require" msg="last name is require"> * 
    </TD>
    <TD>Town:</TD>
    <TD><INPUT class=textbox id=town tabIndex=8 size=16 name=town dataType="town" msg="Town is require"> *</TD></TR>
  <TR>
    <TD>Telephone:</TD>
    <TD><INPUT class=textbox id=phone tabIndex=4 size=16 name=phone msg="Telephone is require" dataType="Require"> * </TD>
    <TD>Country:</TD>
    <TD noWrap><INPUT class=textbox id=Country tabIndex=5 size=16 name=Country dataType="Require" msg="Country is require"> *</TD></TR>
  <TR>
    <TD>Mobile:</TD>
    <TD><INPUT class=textbox id=mobile tabIndex=5 size=16 name=mobile></TD>
    <TD>County or State:</TD>
    <TD><input type="text" name="cstate" /></TD></TR>
  <TR>
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD>Zipcode/Postcode:</TD>
    <TD><INPUT class=textbox id=postcode tabIndex=11 size=16 name=postcode dataType="Require" msg="Zipcode/Postcode is require"> 
    *</TD></TR>
  <TR>
    <TD colSpan=4 height=8>&nbsp;</TD></TR>
  <TR>
    <TD class=tdcartTitle colSpan=4 height=18>Security Details (<EM>This will 
      be your system login.</EM>)</TD></TR>
  <TR vAlign=bottom>
    <TD height=26>Email Address:</TD>
    <TD height=26><INPUT class=textbox id=email tabIndex=12 size=16 
      name=email datatype="Email" msg="Email is require"> * </TD>
    <TD height=26>&nbsp;</TD>
    <TD height=26>&nbsp;</TD></TR></TBODY></TABLE>
<DIV>&nbsp;</DIV>
<DIV style="MARGIN-TOP: 4px; MARGIN-BOTTOM: 3px; TEXT-ALIGN: right"><input type="submit" value="Buy Now" /></DIV></FORM>
        
        
	</div>
</div>

$foot$
</body>
</html>
