<div class="clear"></div>
<div id="footer">
<hr />
<p><A href="about.$weburlext$">About Us</A> | <A href="contact.$weburlext$">Contact Us</A> | <A href="javascript:;">Privacy Policy</A> | <A  href="javascript:;">Return / Exchange Policy</A> | <A  href="javascript:;">Shipping Information</A> </p>
<p><A  href="javascript:;">SSL Security</A> | <A  href="javascript:;">Terms &amp; Conditions</A> | <A  href="javascript:;">Testimonials</A> | <A  href="javascript:;">HelpDesk</A>&nbsp;<script src="http://s22.cnzz.com/stat.php?id=3122146&web_id=3122146&show=pic" language="JavaScript"></script>
</p>
</div>