$head$



<div id="content">
	$left$
    <div class="content_right">
    
    	<div class="contact">
        	<div class="contactwelcome">Welcome to gaylkj.com's Online Products view!</div>
            <div class="contacttitle">Welcome to gaylkj.com's<BR>Online 
Products view!</div>
			<div class="contactcontent">
            <P>We are 
here to offer you the best JAMMA Fingerboards and parts you can find for the 
best price around! Our Signature JAMMA Fingerboards have been designed to 
provide a high quality &amp; reliable way to convert any arcade PCB into your 
JAMMA Arcade Cabinet. All arcade boards list for 
sale&nbsp;are thoroughly inspected &amp; tested with a minimum of 4 hours power 
on time to ensure full game playing stability. </P>
<P>We are 
here to offer you the best JAMMA Fingerboards and parts you can find for the 
best price around! Our Signature JAMMA Fingerboards have been designed to 
provide a high quality &amp; reliable way to convert any arcade PCB into your 
JAMMA Arcade Cabinet. All arcade boards list for 
sale&nbsp;are thoroughly inspected &amp; tested with a minimum of 4 hours power 
on time to ensure full game playing stability. </P>
            </div>
        </div>
        
        <div class="products"> 
        <div class="contactwelcome">Products List</div>
        <div class="productlist">
        <ul>
        $productlist$
        <!--<li>
        <p class="title"><a href="javascript:;">CGA/EGA/MDA/YUV to VGA Industrial XVGA Box Converter Unit (GBS-8219)</a></p>
        <p><a href="javascript:;"><img src="images/pro1.jpg" /></a>
        <p>$100</p>
        <br /> <br /> <br />
        <p class="buy"><a href="javascript:;">Buy</a></p>
        <p class="buy"><a href="javascript:;">See More</a></p>
        </li>-->
        </ul>
        </div>
    </div>
</div>
</div>

$foot$
</body>
</html>
