<div class="content_left">
    	<!-- search start-->
    	<div class="colmunTitle"><span>Search for:</span> </div>
        <div class="colmunContent">        
        <form action="products.asp" target="_blank" method="get">
        <p class="search">
        <input type="text" name="k" /><input type="sumit" value="GO" class="go"/>
        </p>
        </form>        
        </div>
        <!-- search end-->
        
        <div class="blank"></div>
        
        <!-- Category start-->
    	<div class="colmunTitle"><span>Shop by Category:</span> </div>
        <div class="colmunContent">    
        <ul class="square">   
        $getclass$ 
       <!-- <li><a href="javascript:;">Adapters </a></li> -->
        </ul>
        </div>
        <!-- Category end-->
        
        <div class="blank"></div>
         
        <!-- Featured start-->
    	<div class="colmunTitle"><span>Featured Product:</span> </div>
        <div class="colmunContent">   
        <p class="feature">     
        <a href="javascript:;">
        <img src="$skinpath$/images/feature.png" /><br />JUNGLE HUNT PCB 
        </a>
        </p>
        </div>
        <!-- Featured end-->
        
        <div class="blank"></div>
         
        <!-- Popular start-->
    	<div class="colmunTitle"><span>Popular Products:</span> </div>
        <div class="colmunContent">   
        <ul class="decimal">
        $popular$
        <!--<li><a href="javascript:;">60-in-1 iCade Classic Arcade Multigame/Multicade - JAMMA PCB  </a></li> -->       
       
        </ul>
        </div>
        <!-- Popular end-->
        
        <div class="blank"></div>
         
        <!-- Sale start-->
    	<div class="colmunTitle"><span>Sale Items:</span> </div>
        <div class="colmunContent">   
        <ul class="decimal">
        $saleitems$
       <!-- <li><a href="javascript:;">60-in-1 iCade Classic Arcade Multigame/Multicade - JAMMA PCB  </a><span>Save $100.00 </span></li>-->        
        </ul>
        </div>
        <!-- Sale end-->
        
        <div class="blank"></div>
         
        <!-- Payments start-->
    	<div class="colmunTitle"><span>Payments Accepted:</span> </div>
        <div class="colmunContent">  
        <ul class="pic"> 
        <li><a href="javscript:;"><img src="$skinpath$/images/ka.gif" /></a></li>
        <li><a href="javscript:;"><img src="$skinpath$/images/paypal.gif" /></a></li>
        </ul>
        </div>
        <!-- Payments end-->
        
        <div class="blank"></div>
         
        <!-- Online start-->
    	<div class="colmunTitle"><span>Online References:</span> </div>
        <div class="colmunContent">   
        <ul class="pic">
        <li><a href="javscript:;"><img src="$skinpath$/images/cxt.gif" /></a></li>
        <li><a href="javscript:;"><img src="$skinpath$/images/155174_medal.gif" /></a></li>
        <li><a href="javscript:;"><img src="$skinpath$/images/spcertified.jpg" /></a></li>
        <li><a href="javscript:;"><img src="$skinpath$/images/b69caea5d5cad487c9a49201e9de9e79.png" /></a></li>
        <li><a href="javscript:;"><img src="$skinpath$/images/paypalv.gif" /></a></li>
        </ul>
        </div>
        <!-- Online end-->
        
        
    </div>