$head$



<div id="content">
	$left$
    <div class="content_right">
    
    	<DIV class=colMid>


<DIV class=boxContent>
<DIV><SPAN class=txtContentTitle><IMG height=20 
src="images/question.jpg" width=20 align=absBottom>Already a 
Customer?</SPAN> 
<P>Please login below:</P>
<FORM action="login.asp" 
method=post target=_self>
<TABLE cellSpacing=0 cellPadding=3 border=0>
  <TBODY>
  <TR>
    <TD align=right><STRONG>Email:</STRONG></TD>
    <TD><INPUT class=textbox name=username></TD></TR>
  <TR>
    <TD align=right><STRONG>Password:</STRONG></TD>
    <TD><INPUT class=textbox type=password name=password></TD></TR>
  <TR>
    <TD align=right>Remember me?</TD>
    <TD><INPUT type=checkbox value=1 name=remember></TD></TR>
  <TR>
    <TD>&nbsp;</TD>
    <TD><INPUT class=submit type=submit value=Login name=submit></TD></TR></TBODY></TABLE><BR><BR></FORM></DIV>
<DIV class=regSep><SPAN class=txtContentTitle><img height="20"  
src="images/question.jpg" width="20" align="absbottom" />Need to 
Register?</SPAN> 
<P>Our express registration page can be completed quickly and easily.</P>
<P><A class=txtCheckout 
href="reg.asp">Register &amp; 
Continue</A><BR></P></DIV>
<DIV style="PADDING-BOTTOM: 3px"><SPAN class=txtContentTitle><img height="20" 
src="images/question.jpg" width="20" align="absbottom" />Continue 
Shopping?</SPAN> 
<P>To continue browsing as a guest without a login, click the button below. N.B: 
you will not be able to make a purchase without registering first.</P><A 
class=txtUpdate href="buy_save.asp">Continue 
Shopping</A> </DIV></DIV></DIV>
        
        
	</div>
</div>

$foot$
</body>
</html>
