$head$



<div id="content">
	$left$
    <div class="content_right">
    
    	<TABLE width="100%" border=0>
  <TBODY>
  <TR>
    <TD align=middle width="50%">&nbsp;</TD>
    <TD align=middle width="50%">&nbsp;</TD></TR>
  <TR>
    <TD align=middle>&nbsp;</TD>
    <TD align=middle>&nbsp;</TD></TR>
  <TR>
    <TD align=middle><A class=txtDefault 
      href="basic.asp"><IMG 
      alt="Customer Account Details" src="images/User_Account_110x100.gif" 
      border=0></A></TD>
    <TD align=middle><A class=txtDefault 
      href="orderlist.asp"><IMG 
      src="images/Order_List_111x100.gif" border=0></A></TD></TR>
  <TR>
    <TD align=middle><A class=txtDefault 
      href="basic.asp">Personal 
      Info</A></TD>
    <TD align=middle><A class=txtDefault 
      href="orderlist.asp">Order 
      History</A></TD></TR>
  <TR>
    <TD align=middle>&nbsp;</TD>
    <TD align=middle>&nbsp;</TD></TR>
  <TR>
    <TD align=middle>&nbsp;</TD>
    <TD align=middle>&nbsp;</TD></TR>
  <TR>
    <TD align=middle><A class=txtDefault 
      href="pass.asp"><IMG 
      alt="Change your current password" 
      src="images/Password_Lock_93x101.gif" border=0></A></TD>
    <TD align=middle><A class=txtDefault 
      href="help.asp"><IMG 
      alt="JammaBoards.com HelpDesk Menu" 
      src="images/helpdesk_100x101.gif" border=0></A></TD></TR>
  <TR>
    <TD align=middle><A class=txtDefault 
      href="pass.asp">Change 
      Password</A></TD>
    <TD align=middle><A class=txtDefault 
      href="help.asp">HelpDesk Tickets</A></TD></TR>
  <TR>
    <TD align=middle>&nbsp;</TD>
    <TD align=middle>&nbsp;</TD></TR>
  <TR>
    <TD align=middle>&nbsp;</TD>
    <TD align=middle>&nbsp;</TD></TR>
  <TR>
    <TD align=middle><A class=txtDefault 
      href="message.asp"><IMG 
      alt="JammaBoards.com Newsletter Option Settings" 
      src="images/Email_Newletter_Graphic_100x100.jpg" border=0></A></TD>
    <TD align=middle><A class=txtDefault 
      href="basket.asp"><IMG 
      alt="JammaBoards.com RMA/Return Request Menu" 
      src="images/RMA_Box_120x80.gif" border=0></A></TD></TR>
  <TR>
    <TD align=middle><A class=txtDefault 
      href="message.asp">Newsletter</A></TD>
    <TD align=middle><A class=txtDefault 
      href="basket.asp">view cart</A></TD></TR>
  <TR>
    <TD align=middle>&nbsp;</TD>
    <TD align=middle>&nbsp;</TD></TR></TBODY></TABLE>
        
        
	</div>
</div>

$foot$
</body>
</html>
