$head$



<div id="content">
	$left$
    <div class="content_right">
    
    	<DIV style="PADDING-BOTTOM: 3px">
    	  <P>&nbsp;</P>
<script language="javascript" src="/js/validator.js"></script>
<table width="98%%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td align="center" valign="middle" height="27">NO.</td>
    <td align="center" valign="middle" height="27">Order SN</td>
    <td align="center" valign="middle" height="27">date/time</td>
  </tr>
  <tr>
    <td height="22" align="center" valign="middle">&nbsp;</td>
    <td height="22" align="center" valign="middle">&nbsp;</td>
    <td height="22" align="center" valign="middle">&nbsp;</td>
  </tr>
  <tr>
    <td height="22" align="center" valign="middle">&nbsp;</td>
    <td height="22" align="center" valign="middle">&nbsp;</td>
    <td height="22" align="center" valign="middle">&nbsp;</td>
  </tr>
</table>
   	  </DIV>
        
        
	</div>
</div>

$foot$
</body>
</html>
