$head$


<div id="content">
	$left$
    <div class="content_right">
    
    	<DIV style="PADDING-BOTTOM: 3px">
<P>&nbsp;</P>
<script language="javascript" src="/js/validator.js"></script>
<FORM name="registerForm" action="reg_save.asp" method="post" onSubmit="return Validator.Validate(this,2);">
<TABLE cellSpacing=0 cellPadding=3 width="100%" border=0>
  <TBODY>
  <TR>
    <TD colSpan=2 height=18>Change password</TD>
    <TD colSpan=2 height=18>&nbsp; </TD></TR>
  <TR>
    <TD width="21%">old password:</TD>
    <TD width="21%"><INPUT class=textbox id=firstName tabIndex=2 size=16 name=firstName dataType="Require" msg="First Name is require"> 
      *</TD>
    <TD width="26%">&nbsp;</TD>
    <TD width="32%">&nbsp;</TD></TR>
  <TR>
    <TD>new password:</TD>
    <TD><INPUT class=textbox id=lastName tabIndex=3 size=16 name=lastName daytaType="Require" msg="last name is require"> * 
    </TD>
    <TD>confirm password:</TD>
    <TD><INPUT class=textbox id=town tabIndex=8 size=16 name=town dataType="town" msg="Town is require"> *</TD></TR>
  <TR>
    <TD colSpan=4 height=8>&nbsp;</TD></TR>
  <TR>
    <TD colSpan=4 align="center"><input type="submit" value="Change" /></TD>
    </TR></TBODY></TABLE></FORM></DIV>
        
        
	</div>
</div>

$foot$
</body>
</html>
