$head$

<div id="content">
	$left$
    <div class="content_right">
    
    	<div class="contact">
        	<div class="contactwelcome">Sale Items!</div>
        </div>
       
       
       <div class="productlist2">
       <ul>
       $getproducts$
       <!--<li>
           <p class="productlist2title"><a href="javascript:;">1078-in-1 Games Family Multigame JAMMA System</a></p>
            <div class="productcontent">
            <ul>
            	<dl class="l1"><a href="javascript:;"><img src="images/product1.jpg" /></a></dl>
                <dl class="l2"><a href="javascript:;">Finally a multigame PCB for 
      the arcade purist! This CAPCOM 14-in-1 Multigame JAMMA PCB actually runs 
      many popular CAPCOM…</a></dl>
      			<dl class="l3">
                    <p class="gray bold">OUT OF STOCK </p>
                    <p class="gray bold">Price: <span class="del">$379.95</span></p>
                    <p class="red bold">$284.95 <span class="gray del"> - $399.95</span></p>
                    <p class="red">$309.95</p>
                    <p><a href="javascript" class="txtButton">MORE INFO</a></p>
                </dl>
            </ul>
            </div>
       </li>-->
       
       </ul>
       </div>
       
       $pages$
    </div>    
</div>
$foot$
</body>
</html>
