$head$

<div id="content">
	$left$
    <div class="content_right">
    
    	<div class="contact">
        	<p><span class="contactwelcome">Location:</span><a href="product.asp?id=$classid$"> $classname$ </a></p>
        	<div class="contactwelcome">$p_name$</div>
            
			<div class="contactcontent">
             	<p class="pdetailtit" ><img src="$pic$" id="pdetailtit" onload="cjx.pic_reset(this,'500,500')"/></p>
                <p class="moreimgtit">More Images:</p>
                <div class="moreimg">
                <ul>
                	<li><img src="$pic$" onclick="chage(this.src)" /></li>   
                    $biglist$                 
                </ul>
                </div>
                <div class="clear"></div>
                <div class="pdetailcontent">
                	<p><strong>Product Information</strong></p>
$p_epitome$

                </div>
                <div class="pdetailbuy">
                Price: $<span class="red">$price$</span>&nbsp;&nbsp;Num:<input type="text" name="num" id="num" size="10" />&nbsp;&nbsp;<a href="cart.asp?act=add&id=$id$&num=1" id="linkcart" onclick="return cart($id$,'num');" class="txtButton">Buy Now</a>
                </div>
            </div>
        </div>
        
    </div>    
</div>

$foot$
</body>
</html>
